In [5]:

import pandas as pd
import numpy as np
from datetime import datetime

# Load and examine data files to understand structure
trans_file = "/Users/vijayaraghavandevaraj/Downloads/Wood - TransReport.xlsx"
tax_file = "/Users/vijayaraghavandevaraj/Downloads/Wood - Tax Report.xlsx"

print("üìÅ Loading Excel files...")
WoodTrans = pd.read_excel(trans_file)
WoodTax = pd.read_excel(tax_file)

print(f"‚úÖ Transaction Report loaded: {len(WoodTrans)} records")
print(f"‚úÖ Tax Report loaded: {len(WoodTax)} records")

üìÅ Loading Excel files...
‚úÖ Transaction Report loaded: 1836 records
‚úÖ Tax Report loaded: 717 records

In [11]:
#Step 1: Filter the 'trans report' for 'pos' source
trans_pos_df = WoodTrans[WoodTrans['Source'].isin(['website', 'crm'])].copy()
trans_pos_df['Transaction Type'] = 'sale'
trans_pos_df['Module'] = np.where(
    trans_pos_df['Order ID'].astype(str).str.startswith('MEM'),'memberships',trans_pos_df['Source']
)
trans_pos_df.head()

trans_pos_module_df = trans_pos_df[trans_pos_df['Module'].isin(['website', 'crm'])].copy()
trans_pos_module_df.head()

,Location,Order ID,Transaction Date,Amount,Source,Payment Type,Payment Gateway,Transaction Type,Card Type,Currency,Payment ID,Type,Module
22,East Nashville,1757564744356,2025-09-11,29.63,website,virtualCard,authorize,sale,Visa,USD,121233178848,credit,website
23,East Nashville,1757594414733,2025-09-11,29.63,website,virtualCard,authorize,sale,Visa,USD,121233165439,credit,website
40,East Nashville,1757515768069,2025-09-10,29.63,website,virtualCard,authorize,sale,AmericanExpress,USD,121231524552,credit,website
44,East Nashville,1757466612662,2025-09-09,103.16,website,virtualCard,authorize,sale,Visa,USD,121230567919,credit,website
46,East Nashville,1757451532690,2025-09-09,250.00,website,virtualCard,authorize,sale,Visa,USD,121230228669,credit,website

In [15]:
#Step 1: Filter the 'trans report' for 'pos' source
WoodTax.head()
tax_booking_df = WoodTax[WoodTax['Module Name'] == 'booking'].copy()
tax_booking_df = tax_booking_df[
    (WoodTax['Order Status'] == 'booked') &
    (WoodTax['Payment Status'] == 'completed')
].copy()
tax_booking_df.head()

/var/folders/pl/5hhpcrqn64j6f_30s0xgpls80000gn/T/ipykernel_39048/3432262552.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tax_booking_df = tax_booking_df[

,Order ID,Module Name,Location,Month,Date,Year,Order Status,Payment Status,Tip,Tax,Total Sum,Total Sum.1
1,1755643008336,booking,East Nashville,Aug,2025-08-31 00:00:00,2025,booked,completed,0.0,53.63,603.63,NaN
330,1755965966280,booking,East Nashville,Aug,2025-08-27 00:00:00,2025,booked,completed,0.0,6.83,76.83,NaN